<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta Eventi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<header th:replace="~{fragments/header :: header}"></header>

<body>
<div class="container my-5">
    <div class="form-group mx-sm-3 mb-2 text-right">
        <div class="form-group mx-sm-3 mb-2">
            <label for="searchInput" class="sr-only"></label>
            <input type="text" class="form-control" onkeyup="filterTable('eventsTable', 'searchInput')" id="searchInput"
                   placeholder="Cerca un evento">
        </div>
    </div>
    <div th:if="${events.isEmpty()}">
        <p>Nessun risultato trovato.</p>
    </div>
    <table id="eventsTable" class="table table-striped" th:unless="${events.isEmpty()}">
        <thead class="thead-light">
        <tr>
            <th scope="col">Evento</th>
            <th scope="col">Data</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.name}">Nome</td>
            <td th:text="${#temporals.format(event.date, 'dd/MM/yyyy HH:mm')}">Data</td>
            <td>
                <a th:href="@{'/event/'+ ${event.id}}" class="btn btn-primary btn-sm mr-2">Visualizza</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script src="/js/filterTable.js"></script>
</body>
</html>
