<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta Evento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<header th:replace="~{fragments/header :: header}"></header>

<body>
<div class="container my-5">
    <div class="row">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
            <div th:if="${errorMessage}" class="alert alert-danger mt-3" role="alert">
                <p style="font-weight: bold;" th:text="${errorMessage}">Messaggio di errore</p>
            </div>
            <h3 class="text-body-emphasis m-3" th:text="${event.name}">Consulta Evento</h3>
            <br>
            <div class="mb-3">
                <label id="description" th:text="${event.description}"></label>
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold" for="date">Data:</label>
                <label id="date" th:text="${#temporals.format(event.date, 'dd/MM/yyyy HH:mm')}"></label>
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold" for="numberOfParticipants">Numero di Partecipanti:</label>
                <label id="numberOfParticipants" th:text="${event.numberOfPartecipants}"></label>
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold" for="price">Prezzo</label>
                <label id="price" th:text="${event.price} + ' €'"></label>
            </div>
            <div th:if="${event.image != null}" class="mt-3">
                <img th:src="${event.image.generateHtmlSource()}" style="max-width: 100%;">
            </div>
            <div th:unless="${event.image != null}" class="mt-3">
                <img src="/images/coming_soon.jpg" style="max-width: 100%;">
            </div>
            <div th:unless="${#strings.equalsIgnoreCase(role, 'ADMIN')}" class="mb-3">
                <br><br>
                <a th:href="@{'/subscribe/'+ ${event.id}}" class="btn btn-success">Iscriviti</a>
            </div>
            <div th:if="${#strings.equalsIgnoreCase(role, 'ADMIN')}" class="mb-3">
                <br><br>
                <a th:href="@{'/admin/event/edit/'+ ${event.id}}" class="btn btn-primary">Modifica Evento</a>
                <a th:href="@{'/admin/manageReservations/'+ ${event.id}}" class="btn btn-success">Gestisci
                    Iscrizioni</a>
            </div>
            <div th:if="${#strings.equalsIgnoreCase(role, 'ADMIN')}" class="mb-3">
                <form th:action="@{/admin/event/delete}" method="post" th:object="${event}">
                    <input type="hidden" th:field="*{id}"/>
                    <button type="submit" class="btn btn-danger" id="deleteEntity">Elimina</button>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/delete.js"></script>
</body>
</html>
