<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iscrizione avvenuta con successo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<header th:replace="~{fragments/header :: header}"></header>

<body>
<div class="container my-5">
    <div class="jumbotron">
        <h2 class="display-4">Iscrizione avvenuta con successo!</h2>
        <p class="lead">Grazie per esserti iscritto. Clicca il pulsante sottostante per visualizzare le tue
            prenotazioni.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/myReservations" role="button">Le mie prenotazioni</a>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</html>
